.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.burger-line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.burger.open .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.burger.open .burger-line:nth-child(2) {
    opacity: 0;
}

.burger.open .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

@media (max-width: 1024px) {
    .burger {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
}
